* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family:
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

pre {
  border-radius: 0.125rem;
  padding: 0.8rem;
}
