name: ci
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, ubuntu-24.04-arm, windows-11-arm]
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2

      - name: Format
        run: deno fmt --check

      - name: Lint
        run: deno lint

      - name: Install Playwright Chrome (ARM)
        if: matrix.os == 'ubuntu-24.04-arm' || matrix.os == 'windows-11-arm'
        run: deno npm:playwright install chrome

      - name: Test
        run: deno task test

      - name: Dry run Publish
        if: matrix.os == 'ubuntu-latest'
        run: deno publish --dry-run
